:root {
  --fondo: #fefbec;
  --logo: #035155;
  --pie: #ff6c22;
  --letras: #242424;
  --fuentePrincipal: "Inter", sans-serif;
}
ul {
  margin: 0;
}
li {
  list-style: none;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--fuentePrincipal);
  margin: 0;
  background-color: var(--fondo);
  font-size: 1.6 rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;

  color: var(--letras);
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  width: 95%;
}
