main {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: medium;
}

nav {
  width: 30%;
  height: 100%;
}
a {
  color: var(--letras);
}
a:hover {
  color: var(--pie);
}
nav ul {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}

hr {
  width: 90%;
  background: var(--letras);
  border: 1px solid var(--letras);
}
.user {
  width: 15%;
  height: 100%;
}
.user ul {
  height: 100%;
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.logo {
  width: 10%;
  height: 100%;
}
.logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-flow: column;
  color: var(--letras);
}

.contenedor-title {
  width: 100%;
  height: 60%;
  text-align: end;
}
.content-principal {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-principal {
  display: flex;
  flex-flow: row;
  gap: 3px;
}

.img-circle {
  width: 25rem;
}
.img-circle2 {
  width: 11rem;
}
.img-circle2 a {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-circle2 a:hover {
  background-color: #047176;
}

.arrowcolor {
  border-radius: 100%;
  background-color: var(--logo);
}
i {
  font-size: xx-large;
  color: var(--fondo);
}

.img-principal img {
  width: 100%;
  height: 100%;
}

.content-principal h1 {
  font-size: 7.5rem;
  margin: 0;
  padding: 0;
}

.hol {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hol h2 {
  width: 90%;
  font-size: 10.5rem;
  margin: 0;
  padding: 0;
}

.hrcorto {
  position: relative;
  left: 10%;
  width: 75%;
}

.contenedor-2docontenido {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
.posicion {
  padding-right: 12%;
  width: 70%;
  display: flex;
  flex-flow: row;
  text-align: right;
}
.imagenprinc {
  width: 100%;
  height: 100%;
}
.imagenprinc img {
  border-radius: 20px;
}

.text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.text p {
  font-weight: bold;
  font-size: x-large;
  padding-left: 10%;
  text-align: left;
}

.slidercontent {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-top: 8rem;
}

.slidercontent h2 {
  font-size: 4.5rem;
  font-weight: 400;
}
/*///////////////////////////////SLIDERRRR/////////////////////////////////////////*/
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  color: var(--letras);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -70px;
}
.wrapper i:last-child {
  right: -70px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 33px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  width: 90%;
  height: 342px;
  list-style: none;
  background: none;
  border: 1px solid var(--letras);
  cursor: pointer;
  flex-direction: column;
}
.carousel .card .img {
  background: #d9d9d9;
  height: 65%;
  width: 85%;
}
.card .img img {
  width: 40%;
  height: 70%;
}
.textoss {
  width: 80%;
}
.textoss h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 20px 0 5px;
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
/*///////////////////////////////ENDSLIDER/////////////////////////////////////////*/

.botoncontenedor {
  width: 100%;
  height: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20rem;
}
.botoncontenedor button {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: transparent;
  border: 1px solid var(--letras);
}

@media (min-width: 1000px) and (max-width: 1256px) {
  .hrcorto {
    position: static;
    left: 0;
  }
  .content-principal {
    flex-flow: column;
    justify-content: center;
  }
  .hol h2 {
    font-size: 9.5rem;
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  header {
    flex-flow: column;
    align-items: center;
    height: 25vh;
  }
  nav {
    width: 50%;
    display: flex;
    flex-flow: row;
  }
  .logo img {
    object-fit: fill;
  }
  .user {
    width: 35%;
  }
  .logo {
    width: 15%;
  }
  .hrcorto {
    position: static;
    left: 0;
  }
  .content-principal {
    flex-flow: column;
    justify-content: center;
  }
  .hol h2 {
    font-size: 9.5rem;
    text-align: center;
  }
  .wrapper {
    width: 95%;
  }
  .wrapper .carousel {
    gap: 31px;
  }
}
@media (min-width: 550px) and (max-width: 768px) {
  header {
    flex-flow: column;
    align-items: center;
    height: 25vh;
  }
  nav {
    width: 50%;
    display: flex;
    flex-flow: row;
  }
  .logo img {
    object-fit: fill;
  }
  .user {
    width: 35%;
  }
  .logo {
    width: 15%;
  }
  .hrcorto {
    position: static;
    left: 0;
  }
  .content-principal {
    flex-flow: column;
    justify-content: center;
  }
  .hol h2 {
    font-size: 5.5rem;
    text-align: center;
  }
  .content-principal h1 {
    font-size: 5.5rem;
  }
  .wrapper {
    width: 95%;
  }
  .wrapper .carousel {
    gap: 31px;
  }
}

@media (max-width: 550px) {
  .img-circle {
    width: 18rem;
  }
  .img-circle2 {
    width: 9rem;
  }
  .img-circle2 {
    width: 9rem;
  }
  header {
    flex-flow: column;
    align-items: center;
    height: 25vh;
  }
  nav {
    width: 75%;
    display: flex;
    flex-flow: row;
  }
  .logo img {
    object-fit: fill;
  }
  .user {
    width: 45%;
  }
  .logo {
    width: 15%;
  }
  .hrcorto {
    position: static;
    left: 0;
  }
  .content-principal {
    flex-flow: column;
    justify-content: center;
  }
  .hol h2 {
    font-size: 4.5rem;
    text-align: center;
  }
  .content-principal h1 {
    font-size: 3.5rem;
  }
  .wrapper {
    width: 95%;
  }
  .wrapper .carousel {
    gap: 31px;
  }
}
