.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-bottom: 10%;
}
hr {
  width: 95%;
}
.producto {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 360px;
  height: 430px;
}

.shop {
  margin-top: 5%;
  font-size: 3em;
  padding-left: 60px;
}

.contenedor-img {
  width: 50%;
  height: 60%;
  margin-left: 24%;
}

.producto img {
  width: 100%;
  height: auto;
}

.producto .informacion {
  font-size: 16px;
}

.producto h2 {
  margin-bottom: 10px;
}

.producto p {
  margin-bottom: 20px;
  color: black;
}

.producto .boton {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--logo);
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.producto .boton:hover {
  background-color: #0056b3;
}
